#container {
	margin: auto;
	max-width: 300px;
	margin-top: 300px;
}

#boton {
	position: relative;
	width: 100%;
	background-color: blue;
	color: white;
}

#boton.highlight {
	background-color: red;
}

p {
	font-family: Lato;
}